.container {
  width: $width_mobile;
  margin: 0 auto;
  vertical-align: top;
}

@media (min-width: 768px) {
  .container {
    width: $width_tab;
  }
}

@media (min-width: 1200px) {
  .container {
    width: $width_desk;
  }
}
