.footer_content_2 {
  padding-left: 2.8125rem;
}

.footer_content_2__descrp {
  @extend %font_open_600;
  @include font_settings(0.75rem, 1.5625rem);
  color: $font-secondary-footer-color;

  &:not(:nth-of-type(3n)) {
    margin-right: 1.875rem;
  }
}

@media (min-width: 768px) {
  .footer_content_2 {
    width: 38.75rem;
    margin: 0 auto;
  }

  .footer_content_2__descrp {
    display: inline-block;
  }
}

@media (min-width: 1300px) {
  .footer_content_2__descrp:not(:nth-of-type(3n)) {
    margin-right: 4.6875rem;
  }
}
