.logo {
  margin: 0 0 1rem 2.8125rem;
}

.logo__link {
  @extend %link;
}

.logo__icon {
  width: 6.25rem;
  height: 1.625rem;
}

@media (min-width: 768px) {
  .logo {
    width: 38.75rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1300px) {
  .logo {
    width: 72.0625rem;
  }
}
