.section3 {
  padding-top: 30px;
  padding-bottom: 60px;
}

.section3__title { 
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: $font-black-color;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-left: 40px;
}
.section3__title::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/section3/marker.png);
  background-color: #E9AC38;
  background-size: 60%;
}

.education__item {
  margin-bottom: 20px;
  width: 280px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 25px 0 25px;
}

.education__item:last-child {
  margin-bottom: 0;
}

.education__wrapper {
  padding-left: 30px;
  width: 244px;
  height: 225px;
  border: 1px dashed #fff;
  border-radius: 0 25px 0 25px;
  
}
.section3__skills {
padding-top: 40px;
font-size: 25px;
letter-spacing: 1px;
color: #272727;
@extend %font_ubunt_700;
margin-bottom: 26px;;
}

.section3__text {
width: 184px;
height: 103px;
font-size: 16px;
line-height: 22px;
color: #464646;
@extend %font_ubunt_reg;
}

.education__item--first {
  background-color: #F6EAD0;
}

.education__item--second {
  background-color: $bg-color-light-red;
}

.education__item--third {
  background-color: $bg-color-purple;
}

.education__item--fourth {
  background-color: $bg-color-light-blue;
}

/* -------MEDIA--------*/
   
@media screen and (min-width: 768px) {
  .section3__title { 
    font-size: 33px;
  }
  .section3__skills {
    font-size: 30px;
    } 
  .section3 {
    padding-top: 40px;
    padding-bottom: 70px;
  }
.education {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.education__item {
  width: 300px;
}
.education__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
}

@media screen and (min-width: 1300px) {
  .section3 {
    padding-top: 110px;
    padding-bottom: 105px;
  }
  .section3__skills {
    font-size: 30px;
    }
    .education__item {
      margin-bottom: 0;
    }
}
